<% if @vehicles.blank? %>
	<p> There are no vehicles </p>
<% else %>
  <p> Vehicles list </p>
	<ul>
		<% @vehicles.each do |vehicle| %>
			<li>
        <%= link_to vehicle.reg_no, vehicle_path(vehicle) %> 
        <%= link_to "Edit", edit_vehicle_path(vehicle) %>
        <%= link_to "Delete", vehicle_path(vehicle), method: :delete %>
      </li>
		<% end %>
	</ul>
<% end %>
<p><%= link_to "Add Vehicle", new_vehicle_path %></p>
